{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <picture>
    <img class="leftfoto"
         width="160px"
         alt="image"
         src="{% static 'img/D&D_2021.png' %}">
  </picture>
  <div class="container my-3 p-3">
    <i>
      <p>Привет, меня зовут Юля и я автор этого проекта!</p>
      <p>
        Люблю D&D, фехтование, хорошие книги и самую разную музыку, лошадей.
        Хочу завести корги и когда-нибудь написать код для игры, над созданием персонажей
        которой работает супруг, а пока мои стартовые проекты <a href="https://github.com/JulLevina">живут здесь</a>.
      </p>
      <p>
        Программирование затянуло меня с головой, когда руки сами потянулись написать первый код
        на C# в процессе освоения движка Unity. Одновременно с этим пришло понимание, что погрузиться
        в изучение нужно основательно. Так выбор пал на Python. Со временем возьму курс на изучение
        чего-то более применимого для геймразработке, а пока и здесь для меня магии не меньше, чем в D&D! =)
      </p>
      <p>
        Будь как дома, путник
        - welkome to Yatube!
      </p>
    </i>
  </div>
{% endblock %}
