{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python 3.7.9</li>
        <li class="list-group-item">Django 2.2.16</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <i>
        <p>Данный проект создан на основе Python3. Вы наверняка уже сталкивались с вопросом,
        какая версия Python лучше, но дать однозначный ответ на этот вопрос будет непросто.
        Кто-то из разработчиков скажет, что изучать нужно последний релиз, так как прогресс
        не стоит на месте, кто-то порекомендует начать изучение с Python2, обратив особое
        внимание на то, что данная версия хорошо документирована и включает некоторые библиотеки,
        которые не поддерживаются в более поздних версиях.  Истина где-то посередине: руководствуйтесь
        целями своего проекта!
        </p>
        <p>Что касается Django – это популярный фреймворк, позволяющий создавать веб-приложения
          различного уровня сложности на языке Python. Все, что вы видите здесь – от системы
          регистрации до подписок на авторов – создано на основе встроенного функционала этого фреймворка.
        </p>
      </i>
    </article>
  </div>
{% endblock %}
