{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Пост {{ user_post.text|truncatechars:30 }}{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Дата публикации: {{ user_post.pub_date|date:"d E Y" }}</li>
        <li class="list-group-item">
          Группа: <q>{{ user_post.group.title }}</q>
          {% if user_post.group %}
            <a href="{% url 'posts:group_posts' user_post.group.slug %}">все записи группы</a>
          {% endif %}
        </li>
        <li class="list-group-item">Автор: {{ user_post.author.get_full_name }}</li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span>{{ user_post.author.posts.count }}</span>
        </li>
        <li class="list-group-item">
          {% if user_post.author %}
            <a href="{% url 'posts:profile' user_post.author.username %}">все посты пользователя</a>
          {% endif %}
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail user_post.image "660x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}" />
      {% endthumbnail %}
    <p>{{ user_post.text|linebreaksbr }}</p>
    {% if user_post.author == request.user %}
      <a class="btn btn-primary"
         href="{% url 'posts:post_edit' user_post.id %}">редактировать запись</a>
    {% endif %}
    {% include 'includes/add_comment.html' %}
  </article>
</div>
{% endblock %}
